*.tar.gz
*.bz2
__pycache__
config.mk
project_config.mk
.idea/
.vscode/
.DS_Store
.ipynb_checkpoints
*~
*.swp
*.tmp
Pipfile.lock
Pipfile
azcopy
*.pem
node_modules/

API_KEYS

# streamlit
.streamlit/secrets.toml